{% extends 'frontend.html.twig' %}

{% block id 'usuari' %}
{% block title "Registra la teva reserva" %}

{% block article %}
    <h1>{{ block('title') }}</h1>

    {{  form_start(formulariReserva) }}
    <div>
        {{ form_errors(formulariReserva) }}

        <fieldset>
            <legend>Pista</legend>
            {{ form_row(formulariReserva.tipus_pista) }}

            {{ form_row(formulariReserva.pista) }}

        </fieldset>

    </div>
    {{ form_end(formulariReserva) }}

    <script type="javascript">
        var $tipus_pista = $('#reserva_tipus_pista');

        var $formulariReserva = $tipus_pista.closest('form');

        // cada vez que el usuario cambie el pais en el select
        $tipus_pista.on('change', function() {

            // creamos la data, solo con el campo del pais,
            // ya que es el dato relevante en este caso.
            var data = $tipus_pista.serialize();

            // Hacemos un envío del formulario, lo que ejecutará el evento preSubmit
            // del listener AddPistaFieldSubscriber,
            // y actualizará el campo state, con los estados del pais seleccionado.

            $.ajax({
                url : $formulariReserva.attr('action'),
                type: $formulariReserva.attr('method'),
                data : data,
                success: function(html) {

                    // la variable html representa toda la página junto con el select de estados.
                    // el cual tomamos y colocamos para reemplazar el select actual.

                    $('#reserva_pista').replaceWith($(html).find('#reserva_pista'));
                }
            });
        });
    </script>
{% endblock %}