{% extends 'frontend.html.twig' %}

{% block id 'usuari' %}
{% block title "Registra la teva reserva" %}

{% block article %}
    <h1>{{ block('title') }}</h1>

    {{  form_start(formulariReserva) }}
    <div>
        {{ form_errors(formulariReserva) }}

        <fieldset>
            <legend>Dia de Reserva</legend>
            {{ form_row(formulariReserva.diaReserva) }}
        </fieldset>
        <fieldset>
            <legend>Pista</legend>
            {{ form_row(formulariReserva.tipus_pista) }}

            {% if formulariReserva.pista is defined %}
                {{ form_row(formulariReserva.pista) }}
            {% endif %}

        </fieldset>

    </div>
    {{ form_end(formulariReserva) }}

    {% block javascripts %}
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{{ asset('bundles/app/js/reservaPista.js') }}"></script>


    {% endblock %}


{% endblock %}